<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<style>
    body {
        background-image: url("images/1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    }

    img {
        width: 150%;
    }

    .about {
        background-color: rgba(255, 255, 255, 0.7);
        text-align: center;
        padding: 3rem;
        /* margin:15rem; */
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 10%;
    }
    
    table {
        width: 100%;
        border-collapse: collapse;
    }
    td {
        padding: 10px;
        
    }
    .image-column {
        width: 100px;
    }
    .text-column {
        width: calc(100% - 100px);
        text-align: center;
        padding-left: 50px;
    }

</style>

<body>
    <div class="about">
        <table>
            <tr>
                <td class="image-column"><img src="images\205002060.jpg" alt="Image description">
                    <map name="Map">
                        <area shape="rect" coords="0,0,100,100" href="https://github.com/theastralcoder" alt="pavangr">
                    </map>
                </td>

                <td class="text-column">
                    <h2>About this website</h2>
                    <div>
                        <p style="font-weight: 500;">A Single Stop to view and store all your publications and citations...</p>
                        <p style="font-weight: 500;">All publications at one place!!!</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <h2>About the developer</h2>
                    <p style="font-weight: 500;">I am Pavan G R, 3rd year student pursuing B.Tech Information Technology at SSN College.</p>
                </td>
            </tr>
        </table>


    </div>
</body>

</html>